.workexperience {
    background: black;
    width: 100%;
    height: 100%;
}

.work-background {
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
    z-index:3;
}

.workexperience-title {
    color: white;
    position: absolute;
    font-size: 4vw;
    font-family: 'Poiret One';
      border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,

              inset 0 0 1.3rem #bc13fe;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:
    0 0 7px #fff,
    0 0 40px #f09,
    0 0 300px #f09;
}

.job-box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75vh;
    width: 50vw;
    display: block;
    text-align: center;
    background-color: black;
}

.job-title {
    font-family: "Poiret One";
    color: white;
    font-size: 10vh;
    margin-top: 5vh;
    font-weight: bold;
}

.job-name {
    font-family: "Poiret One";
    color: white;
    font-size: 7vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
}



.sms-name {
    font-size: 5.5vh;
}

.job-tags {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.job-info {
    width: 90%;
    text-align: center;
    color: white;
    font-family: "Poiret One";
    margin-top: 3vh;
    font-size: 3.5vh;
    margin-left: auto;
    margin-right: auto;
}



.cibc-box {
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #fe1313,

    inset 0 0 1.3rem #fe1313;
    background-color: black;
}

.sms-box {
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #13fe46,

    inset 0 0 1.3rem #13fe46;
    background-color: black;
}

.tba-box {
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #2313fe,

    inset 0 0 1.3rem #2313fe;
    background-color: black;
}

.work-swiper {
    width: 70vw;
    height: 100vh;
    background-color: black;
}

.icon {
    width: 10vw;
    margin-left: auto;
    margin-right: auto;
}

.icon path {
    fill: transparent;
}

.globe path{
    stroke: #1F51FF;
    stroke-width: 0.3;
    stroke-dasharray: 61;
    stroke-dashoffset: 0;
    animation: animate-globe 4s linear infinite forwards;

}

.CIBC path{
    stroke-width: 30;
    stroke:#FF5733;
    stroke-dasharray: 5330;
    stroke-dashoffset: 0;
    animation: animate-CIBC 4s linear infinite forwards;

}


.hand path {
    stroke-width: 0.3;
    stroke:#39FF14;
    stroke-dasharray: 105;
    stroke-dashoffset: 0;
    animation: animate-hand 4s linear infinite forwards;

}

.work-background .swiper-button-prev, .work-background .swiper-button-next {
    text-shadow: 0 0 .2rem #fff,
    0 0 2rem #7794ff,
    0 0 3rem #6c8cff;
}



.work-background .swiper-button-prev{
    left: 50%;
    transform: translate(-50%, -45vh) rotate(90deg);
  }
  
.work-background .swiper-button-next {
    left: 50%;
    transform: translate(-50%, 45vh) rotate(90deg);
  
  }



@keyframes animate-CIBC {
    0%{
        stroke-dashoffset: 0;
    } 
    50%{
        stroke-dashoffset: 5330;
    }
    100% {
        stroke-dashoffset: 10660;
    }
}

@keyframes animate-globe {
    0%{
        stroke-dashoffset: 0;
    } 
    50%{
        stroke-dashoffset: 61;
    }
    100% {
        stroke-dashoffset: 122;
    }
}

@keyframes animate-hand {
    0%{
        stroke-dashoffset: 0;
    } 
    50%{
        stroke-dashoffset: 105;
    }
    100% {
        stroke-dashoffset: 210;
        fill: transparent;
    }
}


@media only screen and (max-width: 900px) {
    .job-name{
        font-size: 4.5vh;
        font-weight: bold;
    }
    .sms-name {
        font-size: 3.5vh;
    }
    .job-box, .cibc-box, .tba-box, .sms-box{
        width: 75%;

    }
    .job-info {
        font-size: 2vh;
        font-weight: bold;
    }
    .work-swiper {
        width: 100vw;
    }
    .icon {
        width: 15vw;
    }
    .job-info {
        margin-top: 2vh;
    }
    .workexperience-title {
        height: 30vh;
        width: 75vw;
        font-size: 7vw;
    }
  }
