.skills {
    width: 100vw;
    height: 100vh;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    background: #35654d;
    overflow: hidden;
    position: relative;
}

