.deck {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  z-index: 1;
}
.deck > div:active {
  cursor: grabbing;
}

.deck > div {
  background-color: white;
  background-size: auto 91%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60.7vmin;
  max-width: 450px;
  height: 85vmin;
  max-height: 630px;
  will-change: transform;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 12.5px 7px -10px rgba(0, 0, 0, 0.3),
    0 10px 10px -10px rgba(0, 0, 0, 0.2);
  cursor: grab;
}

.left-card {
  position: fixed;
  width: 60.7vmin;
  max-width: 450px;
  height: 85vmin;
  max-height: 630px;
  background-image: linear-gradient(
      45deg,
      rgba(254, 246, 210, 0.53) 0%,
      rgba(254, 246, 210, 0.53) 14.286%,
      rgba(221, 240, 216, 0.53) 14.286%,
      rgba(221, 240, 216, 0.53) 28.572%,
      rgba(188, 233, 223, 0.53) 28.572%,
      rgba(188, 233, 223, 0.53) 42.858%,
      rgba(156, 227, 229, 0.53) 42.858%,
      rgba(156, 227, 229, 0.53) 57.144%,
      rgba(123, 220, 235, 0.53) 57.144%,
      rgba(123, 220, 235, 0.53) 71.42999999999999%,
      rgba(90, 214, 242, 0.53) 71.43%,
      rgba(90, 214, 242, 0.53) 85.71600000000001%,
      rgba(57, 207, 248, 0.53) 85.716%,
      rgba(57, 207, 248, 0.53) 100.002%
    ),
    linear-gradient(
      135deg,
      rgb(246, 99, 200) 0%,
      rgb(246, 99, 200) 12.5%,
      rgb(223, 98, 196) 12.5%,
      rgb(223, 98, 196) 25%,
      rgb(199, 97, 192) 25%,
      rgb(199, 97, 192) 37.5%,
      rgb(176, 96, 188) 37.5%,
      rgb(176, 96, 188) 50%,
      rgb(152, 95, 184) 50%,
      rgb(152, 95, 184) 62.5%,
      rgb(129, 94, 180) 62.5%,
      rgb(129, 94, 180) 75%,
      rgb(105, 93, 176) 75%,
      rgb(105, 93, 176) 87.5%,
      rgb(82, 92, 172) 87.5%,
      rgb(82, 92, 172) 100%
    );
  border-radius: 10px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
  z-index: 0;
  font-size: 5rem;
  font-family: "Playfair Display";
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .left-card {
    font-size: 0;
  }
}
